# Python Virtual Environment
venv/
__pycache__/

# Raw and Processed Datasets
Stocks/
Top1000_Stocks/
*.zip
cleaned_stocks.csv
data/interim/
data/processed/
data/raw/
data/clustering/
src/pairs_discovery/__cache__/

# Mac System Files
.DS_Storecleaned_stocks.csv
.DS_Store
**/.DS_Store
.pair_cache.pkl
data/processed/predictions/
outputs/
*.pkl
*.pt
*.pth
